{% extends "base.html" %}
{% block title %}Problems{% endblock %}
{% block head_scripts %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', path='/problems.css') }}?v=1.2"
    >
{% endblock %}
{% block content %}
    <br/>
    <h1 style="text-align:center;">{% if user == list_author %}Problems{% else %}{{ list_author.username }}'s Checklist{% endif %}</h1>
    <br/>
    <div class="row justify-content-between">
        <div class="col col-md-5">
            <h4>Filter By:&nbsp;</h4>
            <div class="btn-group">
                <button class="btn btn-danger" onclick="toggleEditMode()" id="edit-button">
                    <i class="fa fa-eye"></i><span>&nbsp;View</span>
                </button>
                <button class="btn btn-secondary" onclick="filterTable(0)" id="b0">
                    Platinum
                </button>
                <button class="btn btn-secondary" onclick="filterTable(1)" id="b1">
                    Gold
                </button>
                <button class="btn btn-secondary" onclick="filterTable(2)" id="b2">
                    Silver
                </button>
                <button class="btn btn-secondary" onclick="filterTable(3)" id="b3">
                    Bronze
                </button>
            </div>
        </div>
        <div class="col col-md-3">
            <h4>Search:&nbsp;</h4>
            <input type="text" class="form-control" id="search-input" onkeyup="filterTable(curD)" placeholder="Search for names..">
        </div>
        <div class="col col-md-4">
            <h4>Share List:&nbsp;</h4>

            <div class="input-group">
                {% if user != None %}
                    <input type="text" class="form-control" readonly="" id="static-link" aria-describedby="what" value="49.234.36.140/problems?{{ user.uuid }}">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/problems?uuid={{ user.uuid }}"><i class="fa fa-eye"></i>&nbsp;View</a>
                            <a class="dropdown-item" onclick="copylink()"><i class="fa fa-copy"></i>&nbsp;Copy</a>
                        </div>

                    </div>
                {% else %}
                    <input type="text" class="form-control" readonly="" value="Log in to share">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/login"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
                            <a class="dropdown-item" href="/signup"><i class="fa fa-user-plus"></i>&nbsp;Sign Up</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br/>

    <div id="table-wrapper" class="table-wrapper" style="user-select: none">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="bg-light" width="149px">Contest</th>
                <th class="bg-light" width="320px">Problem 1</th>
                <th class="bg-light" width="320px">Problem 2</th>
                <th class="bg-light" width="320px">Problem 3</th>
                <th class="bg-light" width="320px">Problem 4</th>
            </tr>
            </thead>
            <tbody id="problem-list"></tbody>
        </table>
    </div>
{% endblock %}
{% block body_scripts %}
    <script
            src="{{ url_for('static', path='/problems.js') }}?v=1.10"
    ></script>
    <script>
        // TODO: user difficulty prefs
        init("{{ user.uuid == list_author.uuid }}", "{{ list_author.uuid }}");
    </script>
{% endblock %}